.socials {
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;

    clear: both;
    left: 0%;
    right: 0%;
}

.icon {
    opacity: 0.5;
    margin: 0px 10px 0px 10px;
    color: grey;
}

.icon:hover {
    opacity: 1;
}
