/* elements */

header {
    font-family: pennsylvania, monospace;
    font-style: italic;

    text-align: center;
}

@media only screen and (min-width: 320px) {
    h1 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 480px) {
    h1 {
        font-size: 60px;
    }
}

h1 {
    font-size: 2em;
    font-weight: 600;
    margin: 8px 0 8px 0;
}

h2 {
    font-size: 1em;
    font-weight: 400;
    margin: 8px 0 8px 0;
}

h3 {
    font-weight: 500;
    font-size: 1em;
    margin: 8px 0 8px 0;
}

p {
    font-family: chaparral-pro-display, serif;
    font-weight: 500;
    font-size: 16px;
}

p::first-letter {
    font-weight: 600;
    font-size: 18px;
    font-kerning: none;
}

a {
    font-weight: 600;
    color: #ff3200;
    margin: 0px;
}

footer {
    font-size: 12px;
    text-align: center;
    color: rgba(104, 103, 103, 1);
}

footer span {
    font-weight: 400;
    color: rgba(181, 178, 178, 1);
}

/* classes */

.strip {
    font-family: pennsylvania, monospace;
    font-style: italic;

    color: #dae1e5;
    background-color: #333333;
    display: inline-block;
    padding: 0em 1em 0em 1em;
}
