body {
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
    padding-left: 2.275%;
    padding-right: 2.275%;
    margin-top: 64px;
    -webkit-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
    width: auto;
}

p {
    font-family: sans-serif;
    color: rgba(146, 146, 146, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    overflow-y: auto;
}

h2 {
    font-family: "Changa One", cursive;
    font-weight: 400;
    font-variant: normal;
    font-style: normal;
    font-size: 24pt;
    color: #8a7575;
    text-align: center;
}

h3 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(146, 146, 146, 1);
    text-align: center;
}

h4 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: rgba(146, 146, 146, 1);
    text-align: center;
}

h4 a {
    color: grey;
}

hr {
    background-color: rgba(0, 0, 0, 1);
    height: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    opacity: 0.1;
}

/*
	Header
*/
header {
    text-align: center;
    display: block;
}
.profileLogo img {
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    max-width: 100px;
    max-height: 100px;
}
.profileHeader h1 {
    font-family: "Changa One", cursive;
    color: rgba(146, 146, 146, 1);
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
    text-align: center;
}
.profileTitle {
    margin-left: auto;
    margin-right: auto;
}

.aboutContent {
    text-align: center;
    margin-top: 25px;
}
.aboutSocial {
    text-align: center;
    display: block;
    margin-top: 0px;
    clear: both;
    opacity: 0.7;
    margin-left: 0px;
    left: 0%;
    right: 0%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.social-icon {
    opacity: 0.5;
    margin-right: 20px;
    margin-left: 20px;
    color: grey;
}
.social-icon:hover {
    opacity: 1;
}

/*
	Main Content sections
*/
.mainContent {
    margin-left: auto;
    margin-right: auto;
}
.mainContent .sample {
    display: block;
    margin-top: 10px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}
.mainContent .sample .sampleContent img {
    width: 100%;
    height: auto;
    float: none;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    padding: 1em;
    /* display: inline; */
}
.mainContent .sample .sampleContent .sampleDesc {
    vertical-align: top;
    display: inline-block;
    width: 45%;
    margin-top: 20px;
    height: 100%;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: lighter;
    font-size: large;
    font-weight: 100;
    color: rgba(208, 207, 207, 1);
}

/*
	Footer
*/
footer .footerNote {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: rgba(104, 103, 103, 1);
    font-weight: 700;
}
footer .footerNote span {
    color: rgba(181, 178, 178, 1);
    font-weight: 400;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .profileHeader h1 {
        font-size: 50px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .profileHeader h1 {
        font-size: 60px;
    }
}
