body {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 560px;
    width: auto;
    background-color: #dae1e5;
}

main {
    margin: 0em 4em 0em 4em;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 1px;
    width: 80%;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.2);
}
